<div class="atom-widget">
  <a href="{{ site.baseurl }}/feed.xml" title="RSS/Atom Feed" style="font-size: 1.8rem;">
    <i class="fa-solid fa-square-rss"></i> Subscribe (RSS/Atom) </a
  ><br>
  <i style="color: #222;"
    >RSS/Atom feeds can be read by various applications, like
    <a href="https://support.mozilla.org/en-US/kb/how-subscribe-news-feeds-and-blogs">Thunderbird</a>,
    <a href="https://support.microsoft.com/en-us/office/subscribe-to-an-rss-feed-73c6e717-7815-4594-98e5-81fa369e951c">Outlook</a>, some browser
    extensions, and more. They will show you a notification about new posts on this blog.</i
  >
</div>
